.item1 {
  background: LightSkyBlue;
}
.item2 {
  background: LightSalmon;
}
.item3 {
  background: PaleTurquoise;
}
.item4 {
  background: LightPink;
}

.item5 {
  background: PaleGreen;
}
.container {
  font-size: 40px;
  min-height: 300px;
  width: 100%;
  background: LightGray;
  display: grid;
  /* minmax is used to limit the size of items when the grid container changes size
  resize the viewpanel to see the effect */
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}