.d1 {
  background: LightSkyBlue;
}
.d2 {
  background: LightSalmon;
}
.d3 {
  background: PaleTurquoise;
}
.d4 {
  background: LightPink;
}
.d5 {
  background: PaleGreen;
}

.container {
  font-size: 40px;
  width: 100%;
  background: LightGray;
  /* basically changing a container to a grid won't change anything */
  display: grid;
  /* this will give your grid 
  auto: will fill the content left automatically
  px: relative the resolution of the screen
  %: adjusts to the percent width of the container
  fr: (free space to remember it) sets the column/row to a fraction of the available space */
  grid-template-columns: auto 100px 15% 2fr 1fr;
  /* this will give your grid three rows that are each 70px wide */
  grid-template-rows: 120px 120px;
}